---
// import Markdown from 'astro/components';
import Page from '../layouts/page.astro'

let title = 'Blog';
let description = 'A blog about web development, programming, and life.';

const posts = Astro.fetchContent('./blog/*.md').filter(post => post.draft != true);
// console.log({posts})
---

<!-- <Page title={title} description={description} canonicalURL={Astro.request.canonicalURL}> -->
<Page title={title} description={description} >

  page content here {title}, {description}

  {posts.map((post) => (
      <div class=`${post.url} post`>
        <h4>{post.title}</h4>
        <a href={post.url} title={post.title} class="read-more">Read more<span class="screen-reader-text"> about {post.title}</span></a>
      </div>
  ))}

  <!-- <Markdown>
    this is a bunch of articles we've posted and linked 
    so far about the island architecture, SPA fatigue and Astro.

  </Markdown> -->
</Page>

<style>
h1 {
  margin:1rem 0;
}
.post {
  margin:1rem 0;
}
</style>