---
import Nav from '../components/Nav.astro'
import MainHead from '../components/MainHead.astro'
import Footer from '../components/Footer.astro'

import '../styles/global.css';
// import '../styles/home.css';

interface Props{
  title:string;
  description:string;
  image?:string;
  next?:string;
  prev?:string;
  canonicalURL?:string;
}
let { title, description, image, next, prev, canonicalURL} = Astro.props as Props;
---
<html lang="en">
  <head>
  
    <MainHead
      title={title}
      description={description}
      image={image}
      next={next}
      prev={prev}
      canonicalURL={canonicalURL}
    />
    
  </head>

  <body class={`main-astro page-${title}`} >
    <Nav />
    
    <main class={`page-${title}`}>
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style>
  p { color: var(--basecolor)}
</style>