---
import Nav from '../components/Nav.astro'
import MainHead from '../components/MainHead.astro'
import Footer from '../components/Footer.astro'

// import '../styles/global.css';

interface Props{
  title:string;
  description:string;
  image?:string;
  next?:string;
  prev?:string;
  canonicalURL?:string;
}

let { title, description, image, next, prev, canonicalURL} = Astro.props as Props;
---
<html lang="en">
  <head>
  
    <MainHead
      title={title}
      description={description}
      image={image}
      next={next}
      prev={prev}
      canonicalURL={canonicalURL}
    />
  </head>

  <body class="page-astro">
    <Nav />
    
    <main class="wrapper">
      <p>main-start -  title={title}</p>
      <slot />
      <p>main-END</p>
    </main>

    <Footer />
  </body>
</html>
