---
import Nav from '../components/Nav.astro'
import MainHead from '../components/MainHead.astro'
import Footer from '../components/Footer.astro'

import '../styles/global.css';

interface Props{
  title:string;
  description:string;
  image?:string;
  next?:string;
  prev?:string;
  canonicalURL?:string;
}

const { title, description, image, date, author, content} = Astro.props as Props;
---
<html lang="en">
  <head>
  
    <MainHead
      title={title}
      description={description}
      image={image}
      next={next}
      prev={prev}
      canonicalURL={canonicalURL}
    />
  </head>

  <body class="post-astro">
    <Nav />
    
    <main class="wrapper">
      <p>main-start -  title={title}</p>
      <h5 class="text-center text-gray-400">{
        new Intl.DateTimeFormat('en-US', { dateStyle: 'full' }).format(new Date(content.date))
      }</h5>
      <h1 class="text-center text-gray-700">{content.title}</h1>
      

      <!-- post: separator -->
      <hr />

      <!-- post: content -->
      <slot />
      <p>main-END</p>
    </main>

    <Footer />
  </body>
</html>
